/* Estilos de reinicio, se restablecen los margenes, rellenos y el modelo de caja */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se estable el color de fondo para todo el documento */
body {
    background-color: #e2dfdf;
}

/* Estilo para el contenido principal, se ha utilizado flexbox para organizar los elementos */
main {
    display: flex;
    flex-direction: column;
    background-color: #FFD1DC;
    width: 530px;
    margin: 10px;
    border-radius: 20px;
}

/* Se establece el estilo para el titulo del documento */
h1 {
    font-size: 2rem;
    padding: 10px 10px;
    color: #333333;
}

/* Estilos para el contenedor del texto, se aplico grid para organizar los elementos */
.contedorTexto {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 2px;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Se aplico grid para organizar los inputs */
.contenedorForm {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 2px;
    padding: 10px 10px;
}

/* Estilos para los elementos del formulario a partir del sexto */
.contenedorForm > :nth-child(n+6) {
    grid-column: span 5;
}

/* Estilo para los campos de entrada */
.estiloInput {
   height: 25px;
   padding-left: 5px;
   border: solid 2px #333333;
   border-radius: 10px;
   background-color: #FFD1DC;
   font-weight: bold;
}

/* Se ha establecido un contenedor flexible para los elementos dinamicos */
.contenedorLista {
    display: flex;
}

/* Estilo creado para la lista dinamica */
.lista {
    padding: 5px 2px;
    list-style: none;
    text-transform: capitalize;
    font-size: 1rem;
    color: #525050;
}

/* Estilo para los botones del documento */
.btn {
    width: 30%;
    height: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #add8e6;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    border: black solid 1px;
    cursor: pointer;
}

/* Hover para los botones */
.btn:hover {
    background-color: #FFD1DC;
    border: black solid 2px;
}

/* Estilo para el costo */
.costo {
    color: red;
    font-weight: bold;
}
  
